<div class="container">
  <div class="content-wrapper" style="min-height: 270px;">
    <section class="content-header">
      <h1>
        Locations <small>List</small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
        <li class="active"><b>Locations</b></li>
      </ol>
    </section>
    <section class="content">
      <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-12">
          <div class="btn-group pull-right">
            <a class="btn btn-default" routerLink='addlocation'><i class="fa fa-plus"></i> Add New</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <div id="ex-ample1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      
                    </div>
                    <div class="col-sm-6">
                      <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="form-control input-sm" placeholder="" aria-controls="example1" [(ngModel)]="searchText"></label></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <table id="example1" class="table table-bordered table-striped dataTable no-footer" role="grid"
                      aria-describedby="example1_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Sr No: activate to sort column descending"
                            style="width: 354px;">Sr No</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Name: activate to sort column ascending" style="width: 436px;">Name</th>
                          <th width="20%" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label=": activate to sort column ascending" style="width: 178px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="gc_row odd" role="row" *ngFor="let i = index;let item of addlocations | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                          <td class="sorting_1">{{ (p - 1) * 10 + i +1 }}</td>
                          <td>{{item.location}}</td>
                          <td width="27%">
                            <div class="btn-group">
                              <a class="btn btn-primary" [routerLink]="['/main/master/location/editlocation/',item.id]"
                                style="margin-left:12px;"><i class="fa fa-edit"></i> Edit</a>
                              <a class="btn btn-danger" (click)="deletelocation(item.id)" style="margin-left:20px;"><i
                                  class="fa fa-trash"></i> Delete</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-5">

                    </div>
                    <div class="col-sm-7" style="text-align: right;">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal fade deleteRequest" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Delete Request</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>
                  <i class="fa fa-check fa-2"></i>
                  <span>&nbsp;Are you sure Want to Delete ?</span>
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)=" deleteloc()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Location Delete</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>
                      <i class="fa fa-check fa-2"></i>&nbsp;
                      <span>Location Deleted sucessfully</span>
                  </p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
              </div>
          </div>
      </div>
    </div>