<div class="container">
    <section class="content-header">
        <h1>
            To Do List <small>Add</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
            <li><a [routerLink]="['/main/todolist']">To do list</a></li>
            <li class="active"><b>Add</b></li>
        </ol>
    </section>
    <section class="content">
        <div class="row" style="margin-top: 10px">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="theForm" (submit)="addtodolist(user)" #f="ngForm">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="name" style="clear:both;"> Name <span>*</span></label>
                                        <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel"
                                            class="form-control"
                                            onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode > 31 && event.charCode < 33) || (event.charCode > 47 && event.charCode < 58)"
                                            required pattern="[a-zA-Z ]*">
                                        <span class="err-msg">
                                            <div *ngIf="name.touched">
                                                <div *ngIf="name.errors && name.errors.required">
                                                    Name is required
                                                </div>
                                            </div>
                                        </span>
                                        <span class="err-msg">
                                            <div *ngIf="name.touched">
                                                <div *ngIf="name.errors && name.errors.pattern">
                                                    Please enter olny Alphabits
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="description" style="clear:both;">Description <span>*</span></label>
                                        <textarea name="description" [(ngModel)]="user.description"
                                            #description="ngModel" class="form-control" required></textarea>
                                        <span class="err-msg">
                                            <div *ngIf="description.touched">
                                                <div *ngIf="description.errors && description.errors.required">
                                                    Description is required
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="date_time" style="clear:both;">Notification Date <span>*</span></label>
                                        <input type="date" name="date_time" [(ngModel)]="user.date_time"
                                            #date_time="ngModel" class="form-control datetimepicker" required>
                                        <span class="err-msg">
                                            <div *ngIf="date_time.touched">
                                                <div *ngIf="date_time.errors && date_time.errors.required">
                                                    Date is required
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Add</button>
                        </div>
                    </form>
                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>
<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Todo List Add</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fa fa-check fa-2"></i>&nbsp;
                    <span>Todo List added sucessfully</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="redirect()" class="btn btn-danger" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
  </div>