<div class="container">
    <section class="content-header">
        <h1>
            Archived <small>Case</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a [routerLink]="['/main/cases/allcases']">Case</a></li>
            <li class="active">Archive Case</li>
        </ol>
    </section>
    <section class="content">


        <div class="row" *ngFor="let item of addcases;let i = index;">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <form  name="archivedcasesForm" #f="ngForm">
                        <div class="box-body">
                            <div class="box-body">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-1" style="padding-right:0px">
                                            <b>Case Title</b>
                                        </div>
                                        <div class="col-md-2">

                                            {{item.case_title}} </div>

                                        <div class="col-md-1" style="padding-right:0px">
                                            <b>Case No</b>
                                        </div>
                                        <div class="col-md-2">

                                            {{item.case_no}} </div>

                                        <div class="col-md-1" style="padding-right:0px">
                                            <b>Client</b>
                                        </div>
                                        <div class="col-md-2">
                                            {{item.client_name}} </div>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <b>Notes</b>
                                        </div>
                                        <div class="col-md-4">
                                            <textarea name="notes" [(ngModel)]="cases.notes" #notes="ngModel" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <b>Close Date</b>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="date" name="close_date" [(ngModel)]="cases.close_date" #close_date="ngModel" class="form-control datepicker">
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" (click)="addarchivedcases(cases)" class="btn btn-primary">Close</button>
                            </div>
                        </div>
                    </form><!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Case Archived</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fa fa-check fa-2"></i>&nbsp;
                    <span>Case has been Archived sucessfully</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="redirect()" class="btn btn-danger" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
  </div>