<div class="container">
    <section class="content-header">
        <h1>
            Attendance         
        </h1>
        <ol class="breadcrumb">
            <li><a ><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
            <li class="active">Attendance</li>
        </ol>
  </section>
  <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
              <div class="box-header with-border">
                  <h3 class="box-title">Attendance</h3>                                    
              </div><!-- /.box-header -->
      
              <div class="box-body " style="margin-top:10px;">
                  <form method="post">
          <div class="form-group">
                        <div class="row">
                              <div class="col-md-3">
                            <input type="date" name="date1" value="" class="form-control datepicker" placeholder="Date From">
                              </div>
               <div class="col-md-3">
                            <input type="date" name="date2" value="" class="form-control datepicker" placeholder="Date To">
                              </div>
               <div class="col-md-3">
                            <select name="employee_id" class="form-control">
                  <option value="">-- Select Employee --</option>
                                    <option value="4"> Juliet Kamau </option>
                                    <option value="5"> Tornado </option>
                                    <option value="6"> kali </option>
                  
                </select>
                              </div>
              <div class="col-md-1">
                <input type="submit" name="ok" value="Submit" class="btn btn-primary">
              </div>
                          </div>
                      </div>
        </form>
      
              </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>
  </div>
</section>
</div>