<div class="container">
    <section class="content-header">
        <h1>
            Leave Policy <small>Edit</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a [routerLink]="['/main/hrmange/leavetype']">Leave Policy</a></li>
            <li class="active"><b>Edit</b></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form *ngFor="let item of addleaves;let i = index;">
                        <div class="box-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="name" style="clear:both;"> Leave Types</label>
                                            <input type="text" name="leavetype" [(ngModel)]="addleaves[i].leavetype"
                                                #leavetype="ngModel" [ngModelOptions]="{standalone: true}"
                                                class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name" style="clear:both;"> Leaves</label>
                                            <input type="number" min="0" name="leaves" [(ngModel)]="addleaves[i].leaves"
                                                #leaves="ngModel" [ngModelOptions]="{standalone: true}"
                                                class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="name" style="clear:both;">Description</label>
                                            <textarea name="description" [(ngModel)]="addleaves[i].description"
                                                #description="ngModel" [ngModelOptions]="{standalone: true}"
                                                class="form-control" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"
                                    (click)="updateleaves(leavetype, leaves, description, item.id)">Update</button>
                            </div>
                        </div><!-- /.box -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Leaves Policy Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fa fa-check fa-2"></i>&nbsp;
                    <span>Leaves Policy Updated sucessfully</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="redirect()" class="btn btn-danger" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
  </div>