<section class="content-header">
  <h1>
    Fees <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a [routerLink]="['/main/cases/allcases']">Cases</a></li>
    <li class="active">Fees</li>
  </ol>
</section>
<section class="content">
  <div class="col-md-12">
    <!-- left column -->
    <div class="row">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-body">
          <div class="box-body no-padding">
            <table class="table table-striped" border="1">
              <tbody>
                <tr *ngFor="let item of addcases;let i = index;">
                  <th width="25%">Case No</th>
                  <td width="25%">{{item.case_no}}</td>
                  <th width="25%">Case Title</th>
                  <td width="25%">{{item.case_title}}</td>
                </tr>
                <tr *ngFor="let item of addcases;let i = index;">
                  <th width="25%">Fee Agreed </th>
                  <td width="25%">{{item.total_fees}}</td>
                  <th width="25%">Paid</th>
                  <td width="25%">{{item.amount_paid}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tabbable" style="padding-top:12px;">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">Invoice</a></li>
              <li class=""><a href="#2" data-toggle="tab">Receipt</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="1">
                <!-- form start -->
                <form name="addinvoice" #f="ngForm">
                <div class="form-group" style="margin-top:20px;">
                    <legend>Add Payment Details</legend>
                  </div>
                  <div class="form-group" style="margin-top:20px;">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Invoice Number</b>
                      </div>
                      <div class="col-md-4" >
                        <input type="text" name="inv_no" class="form-control" readonly [(ngModel)]="invoice.inv_no" #inv_no="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Payment Mode</b>
                      </div>
                      <div class="col-md-4">
                        <select name="payment_mode_id" [(ngModel)]="invoice.payment_mode_id" #payment_mode_id="ngModel" class="form-control">
                          <option value="">--Select Payment Mode --</option>
                          <option *ngFor="let item of addpay;let i = index;" value="{{addpay[i].id}}">
                            {{addpay[i].name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Date</b>
                      </div>
                      <div class="col-md-4">
                        <input type="date" name="date" class="form-control datepicker" [(ngModel)]="invoice.date" #date="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top:20px;">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Amount</b>
                      </div>
                      <div class="col-md-4">
                        <input type="text" name="amount" value="" [(ngModel)]="invoice.amount" #amount="ngModel" id="amount" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group input_fields_wrap">
                    <div class="row  ">
                      <div class="col-md-3">
                        <b>Tax</b>
                      </div>
                      <div class="col-md-4">
                        <div>
                          <select name="tax_id" class="form-control tax" required [(ngModel)]="invoice.tax_id" #tax_id="ngModel" (change)="amountchange(invoice)">
                            <option value="">-- Select Tax --</option>
                            <option *ngFor="let item of addtax;let i = index;" value="{{addtax[i].tax_percent}}">
                              {{addtax[i].name}} {{addtax[i].tax_percent}}</option>
                          </select>
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <div class="row">
                          <div class="col-md-offset-2" style="padding-left:12px;">
                            <button class="add_field_button btn btn-success">Add More </button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Total</b>
                      </div>
                      <div class="col-md-4">
                        <input type="text" name="totalinv"  [(ngModel)]="invoice.totalinv" #totalinv="ngModel" class="form-control" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" (click)="addinvoice(invoice)" class="btn btn-primary">Save</button>
                  </div>
                </form>
                <div class="box-body table-responsive" style="margin-top:10px;">
                  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-6">
                          
                        </div>
                        <div class="col-sm-6">
                          <div id="example1_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control input-sm"
                                    placeholder="" aria-controls="example1"
                                    [(ngModel)]="searchText"></label>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <table id="example2"
                          class="table table-bordered table-striped table-mailbox dataTable no-footer" role="grid"
                          aria-describedby="example2_info">
                          <thead>
                            <tr role="row">
                              <th width="5%" class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                colspan="1" aria-sort="ascending" aria-label="Sr No: activate to sort column descending"
                                style="width: 18px;">Sr No</th>
                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Invoice: activate to sort column ascending">Invoice
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Date: activate to sort column ascending">Date</th>
                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Amount: activate to sort column ascending">Amount</th>
                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Payment Mode: activate to sort column ascending">
                                Payment Mode</th>
                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label=": activate to sort column ascending"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="gc_row odd" role="row"
                            *ngFor="let i = index;let item of listfees | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                              <td class="sorting_1">{{ (p - 1) * 10 + i +1 }}</td>
                              <td>{{item.inv_no}}</td>
                              <td>{{item.date}}</td>
                              <td>{{item.amount}}</td>
                              <td>{{item.pay_mode}}</td>
                              <td *ngFor="let item2 of details;let i = index;">
                                <a style="margin-left:20px;cursor: pointer;"
                                data-toggle="tooltip" data-placement="bottom" title="Invoice">
                                  <i class="fa fa-list fa-lg"></i>
                                </a>
                                <a *ngIf="item2.access.access18 == true" style="margin-left:20px;cursor: pointer;"
                                data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash fa-lg"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-7" style="text-align: right;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="2">
                <!-- form start -->
                <form method="post" >
                  <input type="hidden" name="case_id" value="1">
                  <div class="form-group" style="margin-top:20px;">
                    <legend>Add Receipt Details</legend>
                  </div>
                  <div class="form-group" style="margin-top:20px;">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Invoice</b>
                      </div>
                      <div class="col-md-4">
                        <select name="fees_id" class="form-control" required="" [(ngModel)]="receipt.fees_id" #fees_id="ngModel" > <!-- add when needed (change)="invoicechange(receipt)"-->
                          <option value="">--Select Invoice--</option>
                          <option *ngFor="let item of addrecinvo;let i = index;"  value="{{item.inv_no}}">
                            {{item.inv_no}}</option>
                        </select>

                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Date</b>
                      </div>
                      <div class="col-md-4">
                        <input type="date" name="r_date" [(ngModel)]="receipt.r_date" #r_date="ngModel" class="form-control datepicker" >
                      </div>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top:20px;">
                    <div class="row">
                      <div class="col-md-3">
                        <b>Amount</b>
                      </div>
                      <div class="col-md-4">
                        <input type="text" name="r_amount" [(ngModel)]="receipt.r_amount" #r_amount="ngModel" id="r_amount" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" (click)="addreceipt(receipt)">Save</button>
                  </div>
                </form>
                <div class="box-body table-responsive" style="margin-top:10px;">
                  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-6">
                         
                        </div>
                        <div class="col-sm-6">
                          <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                                class="form-control input-sm" placeholder="" aria-controls="example1"></label></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <table id="example1"
                          class="table table-bordered table-striped table-mailbox dataTable no-footer" role="grid"
                          aria-describedby="example1_info">
                          <thead>
                            <tr role="row">
                              <th width="5%" class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending" aria-label="Sr No: activate to sort column descending"
                                style="width: 5px;">Sr No</th>
                              <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Date: activate to sort column ascending">Date</th>
                              <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Amount: activate to sort column ascending">Amount</th>
                              <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label=": activate to sort column ascending"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="gc_row odd" role="row" *ngFor="let i = index;let itemrec of listreciept | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                              <td class="sorting_1">{{ (p - 1) * 10 + i +1 }}</td>
                              <td>{{itemrec.date}}</td>
                              <td>{{itemrec.amount}}</td>
                              <td *ngFor="let item2 of details;let i = index;">
                                <a *ngIf="item2.access.access19 == true" style="margin-left:20px;cursor: pointer;"
                                data-toggle="tooltip" data-placement="bottom" title="Receipt"><i class="fa fa-list fa-lg"></i>
                                  </a>
                                <a *ngIf="item2.access.access20 == true" style="margin-left:20px;cursor: pointer;"
                                data-toggle="tooltip" data-placement="bottom" title="Delete"><i
                                    class="fa fa-trash fa-lg"></i> </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-5">
                         
                        </div>
                        <div class="col-sm-7" style="text-align: right;">
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</section>

<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Unvoice Add</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>
                  <i class="fa fa-check fa-2"></i>&nbsp;
                  <span>Invoice added sucessfully</span>
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" (click)="redirect()" class="btn btn-danger" data-dismiss="modal">close</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade successmechPopup1" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Unvoice Add</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>
                  <i class="fa fa-check fa-2"></i>&nbsp;
                  <span>Receipt added sucessfully</span>
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" (click)="redirect()" class="btn btn-danger" data-dismiss="modal">close</button>
          </div>
      </div>
  </div>
</div>
