.app-top {
  margin: 0 0 3em;
}
/* new css */
a.btn.btn-default.pull-right {
    background: #3f51b5;
    color: #fff;
    border-radius: 20px;
}
button.btn.btn-default {
    background: #3f51b5;
    color: #fff;
    border-radius: 20px;
}
button.btn.btn-default a {
    color: #fff;
}
.fc-state-active, .fc-state-down{
    background-color: #00639a !important;
    color: #fff !important;
}
/* end*/
.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.container{
    margin: 10px
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #025c72 !important;
}
.box {
    margin: 20px 0px !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #91e7c0 !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #e7c58e !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #edaba2 !important;
}

.bg-blue {
    background-color: #b0dbf5 !important;
}
.bg-light-blue-gradient {
    background: #576369 !important;
}
.small-box > .inner {
    padding: 10px;
}
.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 20px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.box.box-solid {
    border-top: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.no-border {
    border: 0 !important;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.todo-list > li .tools {
    float: right;
    color: #dd4b39;
}
.todo-list > li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}
.todo-list > li .label {
    margin-left: 10px;
    font-size: 9px;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}
.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    color: white;
}
.bg-olive {
    background-color: #3d9970 !important;
}
.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    margin: 0px 6px;
}
.bg-purple {
    background-color: #605ca8 !important;
}
.bg-orange{
    background-color: orange;
}
.todo-list > li:last-of-type {
    margin-bottom: 0;
}
.todo-list > li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #3c8dbc !important;
}
.external-event {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #fff;
}
.small-box {
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
.small-box:hover {
    moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}