<div class="content-wrapper" style="min-height: 242px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Bank Details
    </h1>
    <ol class="breadcrumb">
      <li><a  [routerLink]="['/main/dashboard']" ><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
      <li><a  [routerLink]="['/main/hrmange/employees']">Staff</a></li>
      <li class="active"><b>Bank Details</b></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="row" style="margin-bottom:10px;">
          <div class="col-xs-12">
            <div class="btn-group pull-right">
              <a class="btn btn-default"  [routerLink]="['/main/hrmange/employees/bankdetails/addbank', subscribedParam]" ><i
                  class="fa fa-plus"></i> Add New</a>
            </div>
          </div>
        </div>
        <!-- general form elements -->
        <div class="box box-primary">
          <!-- /.box-header -->
          <!-- form start -->
          <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Account Holder Name</th>
                  <th>Account Number</th>
                  <th>Bank Name</th>
                  <th>IFSC Code</th>
                  <th>PAN Number</th>
                  <th>Branch</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gc_row" *ngFor="let i = index;let item of addbanks">
                  <td>{{ i +1 }}</td>
                  <td>{{item.account_holder_name}}</td>
                  <td>{{item.account_number}}</td>
                  <td>{{item.bank_name}}</td>
                  <td>{{item.ifsc_code}}</td>
                  <td>{{item.pan_number}}</td>
                  <td>{{item.branch}}</td>
                  <td class="col-md-1">
                    <div class="btn-group">
                      <a class="btn btn-danger" style="margin-left:20px;" (click)="deletebank(item.id)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </section>
</div>

<div class="modal fade deleteRequest" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Delete Request</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>
                  <i class="fa fa-check fa-2"></i>
                  <span>&nbsp;Are you sure Want to Delete ?</span>
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)=" deleteclient()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade successmechPopup" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Bank details Delete</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>
                      <i class="fa fa-check fa-2"></i>&nbsp;
                      <span>Bank details Deleted sucessfully</span>
                  </p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
              </div>
          </div>
      </div>
    </div>