<div class="container">
  <section class="content-header">
    <h1>
      Appointments <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/main/dashboard']"><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
      <li class="active"><b>Appointments</b></li>
    </ol>
  </section>

  <section class="content">
    <div class="row" style="margin-bottom:10px;display: contents!important;">
      <div class="col-xs-12">
        <div class="btn-group pull-right">
          <a [routerLink]="['/main/appointments/addappointment']" class="btn btn-default"><i class="fa fa-plus"></i> Add
            New</a>

        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-xs-12">
        <div class="box">
         <!-- /.box-header -->

          <div class="box-body table-responsive">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">

                  </div>
                  <div class="col-sm-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <label>Search:
                        <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1" [(ngModel)]="searchText">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" style="margin-top:10px">
                <div class="row">
                  <table id="example1" class="table table-bordered table-striped dataTable no-footer" role="grid"
                    aria-describedby="example1_info">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="Sr No: activate to sort column descending"
                          style="width: auto">Sr No</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Title: activate to sort column ascending" style="width: auto">Title</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Contact: activate to sort column ascending" style="width: auto">Contact</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Motive: activate to sort column ascending" style="width: auto">Motive</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Date: activate to sort column ascending" style="width: auto">Date</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Notes: activate to sort column ascending" style="width: auto">Notes</th>
                        <th width="auto" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Action: activate to sort column ascending">Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="gc_row odd" role="row"
                        *ngFor="let i = index;let item of addappointments | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="sorting_1">{{ (p - 1) * 10 + i +1 }}</td>
                        <td width="auto">{{item.title}}</td>
                        <td width="auto">{{item.contact}}</td>
                        <td width="auto">{{item.motive}}</td>
                        <td width="auto">{{item.date_time}}</td>
                        <td width="auto">{{item.notes}}</td>
                        <td width="30%">
                          <div class="btn-group">

                            <a class="btn btn-default" [routerLink]="['/main/appointments/viewappointment',item.id]"><i
                                class="fa fa-eye"></i> View</a>

                            <a class="btn btn-primary" [routerLink]="['/main/appointments/editappointment',item.id]"
                              style="margin-left:15px;"><i class="fa fa-edit"></i> Edit</a>


                            <a class="btn btn-danger" style="margin-left:20px;"
                              (click)="deleteappointmentadd(item.id)"><i class="fa fa-trash"></i> Delete</a>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-5">

                  </div>
                  <div class="col-sm-7" style="text-align: right;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  </section>
</div>