<section class="content-header">
  <h1>
    Send <small>Message</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dasbhoard</a></li>
    <li><a>Select Client</a></li>
    <li class="active">Send</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- Chat box -->
        <div class="box box-success">
          <div class="box-header with-border">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Message To Tam Advocate Software</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="Status">

            </div>
          </div>
          <div class="box-body chat" id="chat-box">
            <!-- chat item -->


            <div class="item">
              <img  alt="user image"
                class="online">

              <p class="message" style="padding-top:12px;">

                <a href="#" class="name">
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2019-05-17 22:03:47</small>
                  Vipin Kadian
                </a>
              </p>
              <p>Hi </p>
              <p></p>
            </div><!-- /.item -->

            <div class="item">
              <img  alt="user image"
                class="online">

              <p class="message" style="padding-top:12px;">

                <a href="#" class="name">
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2019-05-20 17:26:45</small>
                  Vipin Kadian
                </a>
              </p>
              <p>this is sample message</p>
              <p></p>
            </div><!-- /.item -->

            <div class="item">
              <img  alt="user image"
                class="online">

              <p class="message" style="padding-top:12px;">

                <a href="#" class="name">
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2019-05-20 17:26:56</small>
                  Vipin Kadian
                </a>
              </p>
              <p>this is sample message</p>
              <p></p>
            </div><!-- /.item -->

            <div class="item">
              <img  alt="user image"
                class="online">

              <p class="message" style="padding-top:12px;">

                <a href="#" class="name">
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2019-07-03 17:41:21</small>
                  Vipin Kadian
                </a>
              </p>
              <p>test</p>
              <p></p>
            </div><!-- /.item -->


          </div><!-- /.chat -->

        </div><!-- /.box (chat box) -->
        <!-- form start -->

        <h3 style="color:#FF0000"></h3>
        <form  method="post" accept-charset="utf-8" enctype="multipart/form-data">
          <div class="box-body">
            <div class="box-body">


              <div class="form-group">
                <div class="row">
                  <div class="col-md-8">
                    <label for="name" style="clear:both;">Message</label>
                    <div class="redactor_box">
                      <textarea name="message" class="form-control redactor" dir="ltr"></textarea>
                    </div>
                  </div>
                </div>
              </div>




            </div><!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div><!-- /.box -->
        </form>
      </div>
    </div>
  </div>
</section>